<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%#= link_to "New post", new_post_path %>
<%= link_to new_post_path do%>
  <%= button_to "New Post" %>
  <%# Haiendo un link_to tipo Button (No sé si sea la manera correcta)  %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>